
.app-wrap {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 6vw;
}



.city-country{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 5px;
}

.icon img {
    width: 30%;
}


.temperature {
    font-size: 30px;
    font-weight: 900;
    margin: 10px 0px;
    text-shadow: 2px 10px rgba(0, 0, 0, 0.3);
}

.min-max {
    font-size: 14px;
    font-weight: 500;
    text-shadow: 0px 4px rgba(0, 0, 0, 0.4);
}

.description {
    font-size: 28px;
    font-weight: 700;
    font-style: italic;
    margin-bottom: 10px;
    text-shadow: 0px 3px rgba(0, 0, 0, 0.4);
}
