
.app-wrap {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 7vw;
}

.detail-container {
    display: flex;
    flex-direction: column;
    background-color: greenyellow;
    height: 500px;
    width: 500px;
    background: rgba(255,255,255,0.1);
    backdrop-filter: blur(5px);
    border-radius: 20px;
    box-shadow: 0 35px 45px rgba(0,0,0,0.1);
    border: 1px solid rgba(255,255,255,0.5);
    border-right: 1px solid rgba(255,255,255,0.2);
    border-bottom: 1px solid rgba(255,255,255,0.2);
    padding: 20px;
}

.city-country{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 5px;
}

.temperature {
    font-size: 38px;
    font-weight: 900;
    margin: 20px 0px;
    text-shadow: 2px 10px rgba(0, 0, 0, 0.3);
}

.min-max {
    font-size: 14px;
    font-weight: 500;
    text-shadow: 0px 4px rgba(0, 0, 0, 0.4);
}

.description {
    font-size: 28px;
    font-weight: 700;
    font-style: italic;
    margin-bottom: 10px;
    text-shadow: 0px 3px rgba(0, 0, 0, 0.4);
}
