@import url('https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  height: 100vh;
  background: linear-gradient(white 10%, rgba(0,0,0,0) 20%, rgba(0,0,0,0) 90%, white 95%), url('./assets/weather-bg.jpg');
  background-size: 100%;
  font-family: 'RocknRoll One', sans-serif;
}


.App {
  text-align: center;
}
